/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Linkage implementation : © Shaun Phillips <smphillips@alumni.york.ac.uk>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * linkage.css
 *
 * Linkage stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (linkage_linkage.tpl), and to HTML elements you create dynamically
    (in linkage.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/

#table {
	margin: auto;
	text-align: center;
	/*background-color: rgba(0,0,0,0.2);*/
}

#board {
    width: 576px;
    height: 407px;
    background-color: rgba(255,255,255,0.4);
    position: relative;
    margin: auto;
    display: inline-block;
	border-radius: 10px;
}

#stock {
	width: 150px;
	height: 407px;
	background-color: rgba(255,255,255,0.4);
	position: relative;
	display: inline-block;
	vertical-align: top;
	border-radius: 10px;
}

#markerStock {
	width: 60px;
	height: 120px;
	/*background-color: rgba(255,255,255,0.4);*/
	position: relative;
	display: inline-block;
	vertical-align: top;
}

#colourGroupsCounter {
	width: 50px;
	height: 50px;
	background-color: rgba(255,255,255);
	display: inline-block;
	vertical-align: top;
	border-radius: 10px;
	text-align: center;
	line-height: 50px;
	font-size: xx-large;
}

.space {
    width: 42px;
    height: 42px;
	background-color: grey;
    position: absolute;
}

.border {
	width: 2px;
	height: 42px;
	background-color: black;
	position: absolute;
}

.border_h {
	width: 42px;
	height: 2px;
	background-color: black;
	position: absolute;
}

.border_corner {
	width: 2px;
	height: 2px;
	background-color: black;
	position: absolute;
}

.possibleMove {
	/*background-color: green;*/
	width: 42px;
    height: 42px;
    opacity: 0.4;
    filter: alpha(opacity=20); /* For IE8 and earlier */  
	z-index: 0; 
	position: absolute;
}

.unavailableMove {
	background-color: red;
	width: 42px;
    height: 42px;
    opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */   
	z-index: 0;
	position: absolute;
}

.piece {
	width: 42px;
	height: 86px;
	position: absolute;
	top: -2px;
	left: -2px;
	transform-origin: 100% 50%;
}

.potentialPiece {
	opacity: 0.5;
	cursor: pointer; 
	transform-origin: 100% 50%;
}

.unplayedPiece {
	width: 42px;
	height: 84px;
	position: relative;
	top: 25%;
	left: 25%;
	margin: auto;
	cursor: pointer;
	border-color: black;
	border-style: solid;
	border-width: thin; 
	border-radius: 10px;
}

.unplayedPiecesCounter {
	top: 50%;
	position: relative;
	line-height: 150%;
	font-size: x-large;
}

.lastPlayedMarker {
	background-image: url('img/30_30_tokens.png');
	background-position: 270px 0px;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.ommittedSpaceMarker {
	background-image: url('img/30_30_tokens.png');
	background-position: 150px 0px;
	height: 30px;
	width: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.piece_blue {
	background-color: blue;
}

.piece_white {
	background-color: white;
}

.piece_red {
	background-color: red;
}

.piece_yellow {
	background-color: yellow;
}

#stockHolder_blue {
	/*background-color: #00359f;*/
	width: 100%;
	height: 24%;
	display: inline-block;
	position: relative;
}

#stockHolder_white {
	/*background-color: #ffffff;*/
	width: 100%;
	height: 24%;
	display: inline-block;
	position: relative;
}

#stockHolder_red {
	/*background-color: #860000;*/
	width: 100%;
	height: 24%;
	display: inline-block;
	position: relative;
}

#stockHolder_yellow {
	/*background-color: #e48a01;*/
	width: 100%;
	height: 24%;
	display: inline-block;
	position: relative;
}

#stockHolder_ommittedSpace {
	/*background-color: royalblue;*/
	width: 100%;
	height: 50%;
	display: inline-block;
	position: relative;
}

#stockHolder_lastPlayed {
	/*background-color: blueviolet;*/
	width: 100%;
	height: 50%;
	display: inline-block;
	position: relative;
}

#goal_000000:after {
	content: "Goal: 12 or more colour groups";
  }

#goal_ffffff:after{
	content: 'Goal: 11 or fewer colour groups';
}